  
                   ####### CONFIGS SERVICE #######
________________________________________________________________________________


PORT = 5000

WSDL_URL = https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl
